{% load i18n %}
<p class="Footnote">
    {% trans "These terms and conditions are effective from 23. September 2019 (updated since 15. May 2018)" %}
    <br><br>
    {% trans "Instabook.com services — is a system provided by Instabook.com ltd that allows system users to get various business functionalities that help them to run their business." %}
    <br><br>
    {% trans "Service provider or user — Company or person that provides services, rents tools, equipment, space etc. and uses the SimplyBook.me system to accept and treat bookings online, send promotions, sell products and do other related things that helps them run their service business." %}
    <br><br>
    {% trans "Client/s or service buyer/s — Clients can be any type of person that books an appointment or buys a product online with a service provider that has a user account with the SimplyBook.me system. This can for example be patient, student, or client." %}
</p>