{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block navbar %}
            <div class="collapse navbar-collapse d-flex" id="navbarText">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{ event.get_absolute_url }}" role="button"><i class="fa fa-arrow-circle-o-left"></i> {% trans "Back" %}</a>
                </li>
              </ul>
            </div>
{% endblock %}
{% block content %}
    <div>
      <form method="post" class="post-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.errors }}
                <label for="{{ form.title.id_for_label }}">{% trans "Title" %}:</label>
                {{ form.title }}
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.startDate.errors }}
                    <label for="{{ form.startDate.id_for_label }}">{% trans "Date" %}:</label>
                    <div class="input-group date" id="startDatePicker" data-target-input="nearest">
                        {{ form.startDate }}
                        <div class="input-group-append" data-target="#startDatePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.startTime.errors }}
                    <label for="{{ form.startTime.id_for_label }}">{% trans "Time" %}:</label>
                    <div class="input-group date" id="startTimePicker" data-target-input="nearest">
                        {{ form.startTime }}
                        <div class="input-group-append" data-target="#startTimePicker" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="form-group">
                {{ form.location.errors }}
                <label for="{{ form.location.id_for_label }}">{% trans "Location" %}:</label>
                {{ form.location }}
            </div>

            <div class="custom-control custom-checkbox form-group">
                <input type="checkbox" class="custom-control-input form-control" id="maxParticipCountCheckbox">
                <label class="custom-control-label" for="maxParticipCountCheckbox">{% trans "Unlimited number of participants" %}</label>
            </div>

            <div class="form-group" id="maxParticipCount">
                {{ form.maxParticipCount.errors }}
                <!--<label for="{{ form.maxParticipCount.id_for_label }}">{% trans "Max participants count" %}:</label>-->
                {{ form.maxParticipCount }}
            </div>
            <script type="text/javascript">
               window.onload = onPageLoad();

               function onPageLoad() {
                  if ($('#id_maxParticipCount').val() == -1) {
                      $('#maxParticipCountCheckbox').prop('checked', true);
                      $('#maxParticipCount').hide();
                  } else {
                      $('#maxParticipCountCheckbox').prop('checked', false);
                      $('#maxParticipCount').show();
                  }
               }

              $('#maxParticipCountCheckbox').change(function() {
                  if ($('#maxParticipCountCheckbox').prop('checked')) {
                      $('#maxParticipCount').hide();
                      $('#id_maxParticipCount').val(-1);
                  } else {
                      $('#maxParticipCount').show();
                      $('#id_maxParticipCount').val(1);
                  }
              });
            </script>



            <div class="form-group">
                {{ form.description.errors }}
                <label for="{{ form.description.id_for_label }}">{% trans "Description" %}:</label>
                {{ form.description }}
            </div>
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      </form>
    </div>
        <script type="text/javascript">
            $(function () {
                $('#startDatePicker').datetimepicker({
                    format: 'YYYY-MM-DD'
                });
            });
        </script>
        <script type="text/javascript">
            $(function () {
                $('#startTimePicker').datetimepicker({
                    format: 'HH:mm'
                });
            });
        </script>
{% endblock %}