{% extends "base.html" %}
{% load i18n %}

{% block head %}
<meta name="google-signin-client_id" content="357013688268-suer89ruerok5v05m28ab38gfffrs656.apps.googleusercontent.com">
{% endblock %}

{% block content %}

    <div class="content">
      <ul class="notifications">
        {% for notice in notifications %}
          {% include 'notifications/notice.html' %}
        {% endfor %}
      </ul>

    </div>

  <div id="my-signin2"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>



{% endblock %}


