{% extends "base.status.html" %}
{% load i18n %}
{% load djmoney %}
{% money_localize money %}
{% load tz %}

{% block top_toolbar %}
    <div class="row align-items-center top_menu">
        <div class="booking">
            {% if request.session.calendar %}
                <a href="{% url 'calendar' request.session.calendar %}">
                    <div class="btn_top_menu">{% trans "Booking" %}</div>
                </a>
            {% else %}
                    <div class="btn_top_menu">{% trans "Booking" %}</div>
            {% endif %}
            <a href="{% url 'profile' %}">
                <div class="btn_top_menu active">{% trans "My bookings" %}</div>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid row">
            <div class="status content_block">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">
                    <div class="Footnote-bold status_back"><i class="fa fa-angle-left fa-2x"></i>{% trans "Back" %}</div>
                </a>
                {% endif %}
                <div class="status_ok"></div>
                <h1 class="Title-1 text-white text-center">{% trans "Time booked!" %}<br></h1>
                <p class="Footnote text-white text-center">{% trans "Add to calendar or take a screenshot so you don’t forget" %}</p>
            </div>
    </div>
    <div class="container-fluid row">
            <div class="white_content_block">
                    <div class="selected_items summary">
                        <div class="caption_item Body-bold">
                            {{ participant.startDate|date:"F d, G:i" }}
                        </div>
                        {% if participant.aggregation.price %}
                            <div class="price_item Body-bold">{% money_localize participant.aggregation.price participant.aggregation.price_currency %}</div>
                        {% endif %}
                    </div>
                    {% for option in participant.options.all %}
                        <div class="selected_items">
                            <div class="caption_item Footnote-1">{{ option.name }}</div>
                            <div class="price_item Footnote-1">{{ option.price }}</div>
                        </div>
                    {% endfor %}
                    <hr class="hr_left details">
                    <p class="Footnote">
                        {% trans "Address:" %} {{ event.location }}
                    </p>

                    <a href="{% url 'participant_ics' pk=participant.id %} ">
                        <button class="btn_blue_link mt-5">{% trans "Add to calendar" %}</button>
                    </a>

                    <button id="{{ participant.id }}" class="btn_gray_link"  data-toggle="modal"  data-target="#cancelBookingModal">{% trans "Cancel booking" %}</button>

                    {% if not user.is_authenticated %}
                        <hr class="hr_left details">

                        <p class="Footnote-1 text-center mt-4 pl-3 pr-3">{% trans "Join to save to your bookings and autofill contacts with google" %}</p>

                        <a href="{% url "social:begin" "google-oauth2" %}?next={{ request.path }}">
                            <div class="status-btn-w">{% trans "Google" %}</div>
                        </a>
                    {% endif %}

                    {% if phone %}
                        <div class="btn_gray_link">
                            <a href="https://api.whatsapp.com/send?phone={{ phone }} " target="_blank"><i class="fa fa-whatsapp"></i>{% trans "Send Message" %}</a>
                        </div>
                    {% endif %}

                    </div>
            </div>
            <div class="container-fluid row">
                <a href="{{ APP_MEDIA_URL }}" class="text-white copyright mt-3 mb-3">{% trans "Work on" %} Weekl</a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="cancelBookingModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog white_card text-center" role="document">
                    <div class="oops_cancel"></div>
                    <h1 class="Title-1 text-center">{% trans "Cancel the booking?" %}</h1>
                    <p class="Footnote-1 text-center mt-1 mb-5 pl-3 pr-3">{% trans "Are you sure you want to cancel the booking" %}</p>
                    <form action="checkout"  method="post">
                    {% csrf_token %}
                        <button type="submit" id="btn_cancelBookingModal" class="btn_blue btn_cancelBookingModal">{% trans "Yes, cancel" %}</button>
                    </form>
                    <button type="button" class="btn_blue_link" data-dismiss="modal">{% trans "No" %}</button>
                    <script>
                        $("#cancelBookingModal").on('show.bs.modal', function(e) {
                            id = e.relatedTarget.id;
                            var div = $(".btn_cancelBookingModal")
                            div[0].setAttribute("id", id);
                            console.log(div)
                        })
                        $(".btn_cancelBookingModal").click(function (e) {
                            location.href = '{% url 'participants' %}' + this.id;
                                })
                    </script>
                </div>
            </div>
    </div>

{% endblock %}