{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="row mt-2"></div>
    <div class="content">
        {% for participant in participants %}
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ participant.event.startDate }} {% trans "at" %} {{ participant.event.startTime }} {{ participant.event.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ participant.event.location }}</h6>
                <p><small class="text-muted">{{ participant.event.description }}</small></p>
                <a href="{{ participant.get_absolute_url }}" class="btn btn-primary">{% trans "View" %}</a>
            </div>
        </div>
        <div class="row mt-2"></div>
        {% endfor %}
    </div>

{% endblock %}
