{% extends "base.v2.html" %}
{% load i18n %}


{% block top_toolbar %}
    <div class="container-fluid row align-items-center text-center top_menu">
        <div class="booking">
            <a href="{% url 'calendars' %}">
                <div class="btn_top_menu active">{% trans "Booking" %}</div>
            </a>

            <a href="{% url 'profile' %}">
                <div class="btn_top_menu">{% trans "My bookings" %}</div>
            </a>

        </div>
    </div>
{% endblock %}

{% block content %}
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
