{% extends "base.html" %}
{% load i18n %}



{% block content %}
    <div class="mt-2"></div>
    <div class="product-list-block">
        {% if not products %}
            <div class="alert alert-primary" role="alert">
                На витрине пока нет товаров
            </div>
        {% endif %}
        {% for product in products %}
        {% if forloop.first %}<div class="row">{% endif %}
            <div class="card product-list-card text-center col-6" >
                <a href="{% url 'product' product.id %}">
                        {% if product.image %}
                            <img class="card-img-top" src="{{ product.image.url }}" alt="IMG-PRODUCT">
                        {% endif %}
                        <div class="card-body">
                            <div class="Footnote">{{ product.name }}</div>
                            <div class="Footnote-1 mb-2">{{ product.unit_price }}</div>
                            <div class="Body-bold">{{ product.price }}</div>
                            <!--
                            <p><small class="text-muted">{{ product.description }}</small></p>
                            <a href="https://api.whatsapp.com/send?phone=79685952835&text={{ product.name }} в колличестве: " target="_blank" class="btn btn-primary">{% trans "Order" %}</a>
                            -->
                        </div>
                </a>
            </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}
