{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row mt-2"></div>

    <div class="card" >
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ product.price }} {{ product.unit_price }}</h6>
                <p><small class="text-muted">{{ product.description }}</small></p>
                <a href="{% url 'product' product.id %}" class="btn btn-primary">{% trans "View" %}</a>
            </div>
    </div>

{% endblock %}