{% extends "base.v2.html" %}
{% load i18n %}

{% block top_toolbar %}
    <div class="row align-items-center top_menu">
        <div class="booking">
            {% if request.session.calendar %}
                <a href="{% url 'calendar' request.session.calendar %}">
                    <div class="btn_top_menu">{% trans "Booking" %}</div>
                </a>
            {% else %}
                <div class="btn_top_menu">{% trans "Booking" %}</div>
            {% endif %}
            <a href="{% url 'profile' %}">
                <div class="btn_top_menu active">{% trans "My bookings" %}</div>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid row hello">
            <div class="content_block">
                <div class="hello_block">
                    <h1 class="Title-1 text-center">{% trans "Hello!" %}</h1>
                    <p class="Footnote-1 text-center">{% trans "Join to save to your bookings and autofill contacts with google" %}</p>
                    <a href="{% url "social:begin" "google-oauth2" %}?next={{ request.path }}">
                        <div class="status-btn-w">{% trans "Google" %}</div>
                    </a>
                </div>
            </div>
    </div>
{% endblock %}
