{% extends "base.v2.html" %}
{% load i18n %}


{% block top_toolbar %}
    <div class="container-fluid row align-items-center text-center top_menu">
        <div class="booking">
            <a href="{% url 'calendars' %}">
                <div class="btn_top_menu active">{% trans "Booking" %}</div>
            </a>

            <a href="{% url 'profile' %}">
                <div class="btn_top_menu">{% trans "My bookings" %}</div>
            </a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid row hello">
            <div class="col-md-6 offset-md-3 col-sm-12 content_block">
                <div class="hello_block">
                    <h1 id="verify_message">{% trans "Hello!" %}</h1>
                </div>
            </div>
                    <script>
                        window.onload = updateFirstDay;
                        var api_url = "{{ request.path }}"
                        var api_url = "/checkin/api/accounts/verify-registration/"
                        var urlParams = new URLSearchParams(window.location.search);

                        var user_id = urlParams.get('user_id');
                        var timestamp = urlParams.get('timestamp');
                        var signature = urlParams.get('signature');

                        function updateFirstDay() {
                          $.ajax({
                            type: "POST",
                            url: api_url,
                            dataType: 'json',
                            data: {user_id: user_id, timestamp: timestamp, signature: signature},
                            success: function (msg) {
                               if (msg && msg.detail == "User verified successfully") {
                                   $( "#verify_message" ).text("{% trans "User verified successfully" %}")
                               }
                            },
                            error: function(e) {
                                console.log(e.responseJSON.detail);
                                $( "#verify_message" ).text("{% trans "User verification error" %}")
                            }
                          });
                        }
                    </script>
    </div>
{% endblock %}
