{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {% load staticfiles %}
{% endblock %}

{% block content %}
<div class="content-block">
    <h5 class="text-center Title-2">{% trans "Sign In" %}</h5>
    <form method="post" action=".">
      {% csrf_token %}
      <div class="form-group form-label-group">
        {{ form.username.errors }}
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">{% trans "Username" %}</label>
      </div>
      <script type="text/javascript">
        var element = document.getElementById("id_username");
        element.classList.add("form-control");
      </script>
      <div class="form-group form-label-group">
        {{ form.password.errors }}
        {{ form.password }}
        <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
      </div>
      <script type="text/javascript">
        var element = document.getElementById("id_password");
        element.classList.add("form-control");
      </script>

      <div class="form-group">
        <button type="submit" class="btn btn-primary login-btn btn-block btn-lg">{% trans 'Sign in' %}</button>
      </div>

     </form>
    <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'django_registration_register' %}">{% trans "Register" %}</a>!</p>
    <hr class="my-4">

    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google login-btn btn-block btn-lg">
          <i class="fa fa-google">
          </i> Sign in with <b>Google</b>
    </a>

</div>

{% endblock %}
