{% extends "base.html" %}
{% load i18n %}

{% block head %}
    {% load staticfiles %}
{% endblock %}

{% block top_toolbar %}
          <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="fas fa-home"></i> {% trans "My Shop" %}</a>
                        </li>
                    </ul>
          </nav>
{% endblock %}

{% block content %}
<div class="content-block">
    <h5 class="text-center Title-2 mt-2 mb-4">{% trans "Login" %}</h5>
    <form method="post" action="."  class="needs-validation post-form" novalidate>
      {% csrf_token %}
      <div class="form-group form-label-group">
        {{ form.username.errors }}
        {{ form.username }}
        <label for="{{ form.username.id_for_label }}">{% trans "Phone number" %}</label>
        <div class="invalid-feedback">
            {% trans "Contact phone number required, format: +7(123) 456-78-90" %}
        </div>
        <script>
                                      var phones = [{ "mask": "7##########"}];
                                      $('#id_username').inputmask({
                                                mask: phones,
                                                greedy: false,
                                                definitions: { '#': { validator: "[0-9]", cardinality: 1}},
                                                placeholder: ''
                                      });
        </script>
      </div>
      <script type="text/javascript">
        var element = document.getElementById("id_username");
        element.classList.add("form-control");
      </script>
      <div class="form-group form-label-group">
        {{ form.password.errors }}
        {{ form.password }}
        <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
      </div>
      <script type="text/javascript">
        var element = document.getElementById("id_password");
        element.classList.add("form-control");
      </script>

      <div class="form-group">
        <button type="submit" class="btn btn-primary login-btn btn-block btn-lg">{% trans 'Sign in' %}</button>
      </div>

     </form>
    <p>{% trans "Forgot password" %}? <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
    <p>{% trans "Not member" %}? <a href="{% url 'django_registration_register' %}">{% trans "Register" %}</a>!</p>
    <hr class="my-4">

    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google login-btn btn-block btn-lg">
          <i class="fab fa-google"></i>
          </i> Sign in with <b>Google</b>
    </a>

</div>

{% endblock %}
